<tr style="color:#f00;">
    <th colspan="<?php echo $this->getColspan(); ?>" 
        style="<?php echo $this->getTotal()->getStyle() ?>" 
        class="a-right">
        <?php if ($this->getRenderingArea() 
            == $this->getTotal()->getArea()): ?>
            <strong>
        <?php endif; ?>
        <?php echo $this->escapeHtml(
                $this->getTotal()->getTitle()
        ); ?><br />
        <a style="font-size:10px" 
            href="<?php echo Mage::helper('magento_surcharge')->getInfoUrl() ?>"
            class="new-window">
            <?php echo Mage::helper('magento_surcharge')
                ->__('Why do we charge this fee?')?>
        </a>
        <?php if ($this->getRenderingArea() 
            == $this->getTotal()->getArea()): ?>
            </strong>
        <?php endif; ?>
    </th>
    <td style="<?php echo $this->getTotal()->getStyle() ?>" 
        class="a-right">
        <?php if ($this->getRenderingArea() 
            == $this->getTotal()->getArea()): ?>
        <strong>
        <?php endif; ?>
        <?php echo $this->helper('checkout')
            ->formatPrice($this->getTotal()->getValue()) ?>
        <?php if ($this->getRenderingArea() 
            == $this->getTotal()->getArea()): ?>
        </strong>
        <?php endif; ?>
    </td>
</tr>